.App {
  height: 100vh;
  background-color: var(--background-colour);
  color: var(--foreground-colour);
}

h2 {
  margin: 0;
  font-size: 1em;
  font-weight: bold;
}

/* for screen-reader-only elements */
.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.visually-hidden:focus {
  left: 20px;
  width: auto;
  height: auto;
}

.row-1,
.row-2,
.row-3 {
  display: flex;
  width: 100%;
}

.row-1 {
  height: 70%;
}

.row-2 {
  height: 20%;
}

.row-3 {
  height: 10%;
}

.input {
  width: 100%;
  border: 1px solid var(--foreground-colour);
}
