.App {
  height: 100vh;
}

.row-1,
.row-2,
.row-3 {
  display: flex;
  width: 100%;
}

.row-1 {
  height: 70%;
}

.row-2 {
  height: 20%;
}

.row-3 {
  height: 10%;
}

.history {
  width: 60%;
  border: 1px solid black;
}

.legend {
  width: 20%;
  min-width: 100px;
  border: 1px solid black;
}

.mic-level {
  width: 20%;
  min-width: 100px;
  border: 1px solid black;
}

.input {
  width: 100%;
  border: 1px solid black;
}
