.legend {
  width: 20%;
  min-width: 100px;
  border: 1px solid black;

  height: 100%;
  box-sizing: border-box;
  margin-top: 0;
}

.legend ul {
  list-style-type: none;
  padding-inline-start: 0;
}

.legend li {
  width: fit-content;
}

.legend input[type=checkbox] {
  margin-right: 1em;
}

.legend-item.selected {
  font-weight: bold;
}
