.log-line-audio {
  color: darkorange; /* TODO find a higher contrast, distinct colour */
}

.log-line-ovos {
  color: black;
}

.log-line-phal {
  color: #006600; /* higher contrast green */
}

.log-line-skills {
  color: purple;
}

.log-line-voice {
  color: blue;
}

