
.log-line-audio {
  color: var(--foreground-colour);
}

.log-line-ovos {
  color: var(--foreground-colour-two);
}

.log-line-phal {
  color: var(--foreground-colour-three);
}

.log-line-skills {
  color: var(--foreground-colour-four);
}

.log-line-voice {
  color: var(--foreground-colour-five);
}
